<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS - Webpage</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/producto.css">
</head>
<body>
    
    <h1>Mi página web desde NodeJS</h1>
    <hr>

    <form action="/login" method="post">
        <input type="text" name="usuario" placeholder="ingrese usuario">
        <input type="text" name="password" placeholder="ingrese contraseña">
        <button>Login</button>
    </form>
    <hr>

    <a href="/visitas">Ver la cantidad de visitas</a>
    <br>
    <br>
    <img src="./imgs/paisaje.jpg" alt="foto de un paisaje">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga ullam ipsa corrupti sunt. Perspiciatis at quaerat ullam distinctio, ipsum, ut perferendis necessitatibus odit hic quam aliquid ex officia corrupti.
    </p>

    <script src="js/main.js"></script>
</body>
</html>